*{
    margin: 0;
    padding:0;
    
    text-align: center;
    margin-top: 1rem;

}
.container{
  text-align:center;
}

.inputbox input{
  width:250px;
  height:40px;
  font-size:18px;
  margin-top:40px;
  margin-bottom:40px;
}



.msg p1 {
    display: block;
    font-size: large;
    
    margin-bottom: 3rem;
    

}


.msg p2 {
    display: block;
    font-size: large;
    margin-bottom: 3rem;
    
    

}



.msg p3  {
  
   
  font-size: 30px;

}



.btn1{
   size: 50vmin;
    font-size: 18px;
    margin: 50px;
    width: 50px;
    gap: 10vmin;
    text-align: center;
    justify-content: center;
    
    
}
.btn2{
   size: 50vmin;
    font-size: 18px;
    margin: 50px;
    width: 50px;
    gap: 10vmin;
    text-align: center;
    justify-content: center;
}
.win {
  background-color: #00ff88;
  transform: scale(1.05);
  transition: 0.8s;
}

#confetti-container{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
}

.confetti{
  position:absolute;
  width:10px;
  height:10px;
  background:red;
  opacity:0.8;
  animation: fall 5s linear backwards;
}

@keyframes fall{
  to{
    transform: translateY(100vh) rotate(720deg);
    opacity:0;
  }
}